.products_by_category_page {
  width: 1440px;
  margin: 0 auto;
}

.products_by_category_page h2 {
  padding: 80px 30px;
  font: 700 40px Montserrat;
}

.filters {
  padding-left: 30px;
  display: flex;
  gap: 40px;
  align-items: center;
}
