.discountCouponContainer {
  margin: 90px auto 0;
  width: 1440px;
  background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.discountCouponContainer img {
  width: 422px;
  height: 422px;
  margin: 27px 0px;
}

.discountCouponContainer h1 {
  font: 700 90px Montserrat;
  color: #fff;
  letter-spacing: 3.5px;
}

.discountCouponContainer h3 {
  color: #fff;
  font: 700 50px Montserrat;
  letter-spacing: 1.5px;
}

.discountCouponContainer input {
  display: block;
  margin-top: 45px;
  width: 473px;
  padding: 25px 0px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #fff;
  font: 600 18px Montserrat;
  letter-spacing: 0.54px;
  text-align: center;
}

.discountCouponContainer button {
  cursor: pointer;
  margin-top: 30px;
  background-color: transparent;
  display: block;
  width: 473px;
  padding: 20px 0px;
  border: 2px solid white;
  border-radius: 25px;
  color: #fff;
  font: 700 28px Montserrat;
  letter-spacing: 0.862px;
}
