.filter_price_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.filter_price_container p {
  font: 600 20px Montserrat;
}

.filter_price_container input {
  width: 103px;
  height: 42px;
  border-radius: 7px;
  border: 1px solid #000;
  color: #acacac;
  font: 500 16px Montserrat;
  text-indent: 10px;
}
