.card {
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.card img {
  width: 318px;
  height: 350px;
  object-fit: cover;
}

.card p {
  color: black;
  margin-top: 20px;
  text-align: center;
  font: 600 18px Montserrat;
}

@media (max-width: 750px) {
  .card img {
    width: 518px;
    height: 550px;
  }
}
