.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.card img {
  height: 300px;
  width: 300px;
  object-fit: contain;
  align-self: start;
}

.price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.price p {
  padding-right: 30px;
}

.price_1 {
  font: 600 30px Montserrat;
  letter-spacing: 0.9px;
  color: #000;
  margin-left: 20px;
}

.price_2 {
  color: #8b8b8b;
  font: 500 20px Montserrat;
  letter-spacing: 0.6px;
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}

.price_3 {
  color: #ff32a1;
  font: 600 20px Montserrat;
  letter-spacing: 0.6px;
}

.title p {
  font: 500 16px Montserrat;
  color: #000;
  letter-spacing: 0.48px;
  padding: 10px 15px;
  width: 300px;
}

.add_to_cart_btn {
  width: 250px;
  text-align: center;
  padding: 25px 0;
  border-radius: 21px;
  border: 2px solid #393;
  background: #f1fff1;
  cursor: pointer;
  color: #393;
  font: 600 18px Montserrat;
  display: none;
  margin-top: 200px;
}

.card:hover .add_to_cart_btn {
  display: block;
  position: absolute;
}

@media (max-width: 750px) {
  .card img {
    height: 400px;
    width: 400px;
    object-fit: contain;
    align-self: start;
  }

  .title {
    width: 400px;
  }
}
