.discounted_items_container {
  font: 600 20px Montserrat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.discounted_items_container input {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid #000;
}
