.catalog_container {
  margin-top: 30px;
}

.catalog_container_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.catalog_container h1 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1.2px;
}

.a_button {
  margin-left: 100px;
}

.a_button button {
  background-color: transparent;
  width: 120px;
  height: 30.968px;
  flex-shrink: 0;
  color: #8b8b8b;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.36px;
  cursor: pointer;
}
