.sorting_container span {
  font: 600 20px Montserrat;
  padding-right: 15px;
}

.sorting_container select {
  width: 219px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid #000;
  text-indent: 10px;
  color: #797979;
  font: 500 16px Montserrat;
}
