.cart_item {
  height: 274px;
  width: 824px;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr 1fr;
  justify-self: start;
  align-items: center;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  border-left: none;
  border-right: none;
}

.cart_item_title {
  margin-left: 30px;
  width: 320px;
}

.cart_item_title p {
  margin-bottom: 70px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.54px;
}

.count {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 30px;
}

.count_p {
  text-align: center;
}

.count_button {
  cursor: pointer;
}

.cart_item img {
  width: 192.604px;
  height: 166.642px;
  flex-shrink: 0;
  border-radius: 15px;
}

.price_1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1.2px;
}

.price_1_sm {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
}

.price_2 {
  color: #8b8b8b;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-decoration: line-through;
}

.cart_item_x {
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 150px;
  margin-left: 50px;
}

@media (max-width: 750px) {
  .cart_item {
    width: auto;
  }
}
