.saleFormMainCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a1e2eb;
  color: #fff;
  width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.saleFormMainCard h1 {
  font: 700 80px Montserrat;
  padding-left: 50px;
}

.saleFormMainCard h2 {
  font: 700 63px Montserrat;
  padding-left: 50px;
}

.saleFormMainCard button {
  margin-left: 50px;
  margin-top: 50px;
  background-color: #fff;
  font: 700 25px Montserrat;
  padding: 25px 50px;
  border: 2px solid #fff;
  border-radius: 13px;
  cursor: pointer;
}

.saleFormMainCard img {
  width: 800px;
  height: auto;
  margin-bottom: 150px;
}
